<app-navbar></app-navbar>

<div class="container mt-2 text-center">
    <h2>Produtos</h2>
    
    <ul>
        <li *ngFor="let produto of listProdutos">{{ produto.descricao }}</li>
      </ul>

      <h1 ></h1>

   <table class="table">
  <thead>
    <tr>
  
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th *ngFor="let produto of listProdutos">{{ produto}}</th>
      <td>Mark</td>
      <td>Otto</td>
      
    </tr>
    <tr>
 
  </tbody>
</table>
     

</div>